# dont delete any, just add what you want to ignore
# NOTE: any data files should be added to the .gitignore file
Brady_Hackathon.code-workspace
bradly_data.zip
data
data2
standards
__pycache__
.DS_Store
model.h5
model.keras
history.pkl
my_model.keras
history_backup.pkl
my_model_backup.keras
node_modules
